/* ---------------------------------------------- */
/* Navigation and Categories */
/* ---------------------------------------------- */

#nav {
  background-color: #fffefe79;
  backdrop-filter: blur(10px);
}

/* ---------------------------------------------- */
/* Product Grid and Cards */
/* ---------------------------------------------- */

.products-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  gap: 12px;
  margin-inline: 10px;
  background-color: #f4f4f461;
  backdrop-filter: blur(4px);
  padding: 12px;
  padding-bottom: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.product {
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #fbf5fc10;
  backdrop-filter: blur(2px);
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product-info {
  background-color: #fdeeff0a;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
}

.product-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  margin-block: 10px;
}

/* ---------------------------------------------- */
/* Cart and Checkout */
/* ---------------------------------------------- */

.cart-header {
  padding-inline: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #333;
}

.btn-box {
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  margin-top: 15px;
  background-color: rgb(255, 56, 56);
  padding-block: 4px;
  padding-inline: 12px;
  border-radius: 6px;
}

.remove-btn button {
  background-color: rgb(255, 56, 56);
  padding-block: 4px;
  padding-inline: 12px;
  border-radius: 6px;
}

.done-btn {
  background-color: rgb(56, 152, 255);
  padding-block: 1px;
  padding-inline: 12px;
  border-radius: 6px;
}

/* ---------------------------------------------- */
/* Order Form */
/* ---------------------------------------------- */









/* ---------------------------------------------- */
/* Loader */
/* ---------------------------------------------- */

.loader {
  display: inline-block;
  transform: translateZ(1px);
}

.loader:after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: coin-flip 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes coin-flip {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

/* ---------------------------------------------- */
/* Auth Container */
/* ---------------------------------------------- */

.auth-container {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  background-color: #2826265e;
  backdrop-filter: blur(15px);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.auth-container h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.auth-container label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

.auth-container input {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  background-color: #3737372d;
  backdrop-filter: blur(8px);
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bffaa;
  backdrop-filter: blur(5px);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container #bottom-link {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin-block: 15px;
}

.auth-container #bottom-link span {
  color: rgb(0, 140, 255);
}

/* ---------------------------------------------- */
/* Side Menu and Logout */
/* ---------------------------------------------- */

#logout-btn {
  color: #000;
  background-color: yellow;
  padding-block: 2px;
  padding-inline: 6px;
  border-radius: 8px;
}

#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffffff83;
  backdrop-filter: blur(12px);
  height: 100%;
  width: 90%;
  z-index: 2;
  padding: 50px;
  transform: translateX(100%);
}

.back-btn {
  background-color: #3b373751;
  padding: 5px 10px;
  border-radius: 15px;
}

#menu-logout-btn {
  padding: 2px 6px;
}

/* ---------------------------------------------- */
/* Dashboard */
/* ---------------------------------------------- */

#dashboard-page {
  margin: 100px 50px;
}

.dashboard-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard-links li {
  margin: 15px 0;
}

.dashboard-links a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background-color: #fffefe8f;
  font-weight: 600;
}

.dashboard-links a:hover,
.dashboard-links a.active {
  background-color: #969ba1;
  color: #ecf0f1;
}

.main-content {
  padding: clamp(20px, 5vw, 25px);
  background-color: #86868646;
  backdrop-filter: blur(10px);
  display: inline-block;
  margin: 40px;
  border-radius: 10px;
}

.main-content h1 {
  font-size: clamp(15px, 5vw, 25px);
  margin-bottom: 50px;
}

/* ---------------------------------------------- */
/* Admin Categories */
/* ---------------------------------------------- */

#admin-categories-page {
  margin: 100px 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #9d9d9d37;
  backdrop-filter: blur(20px);
  color: #000000;
}

form input::placeholder {
  color: #0000006e;
}

form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* Table Styles */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff5ed6d;
  backdrop-filter: blur(10px);
}

thead {
  background-color: #007bff;
  color: #fff;
}

thead th {
  padding: 10px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 10px;
}

.actions button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions .update {
  background-color: #ffc107;
  color: #fff;
}

.actions .delete {
  background-color: #dc3545;
  color: #fff;
}

.actions button:hover {
  opacity: 0.8;
}

/* ---------------------------------------------- */
/* Admin Orders */
/* ---------------------------------------------- */

#admin-orders-page {
  margin: 100px 50px;
}

#orders-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.order-card {
  width: 400px;
  min-height: 200px;
  background-color: #e8e8e86b;
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 10px;
}

.order-card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card-body p {
  background-color: #7d7d7d4b;
  padding: 10px;
  border-radius: 5px;
}

.order-card-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-item {
  background-color: #84838358;
  padding: 10px;
  border-radius: 5px;
}

.bottom-content,
.bottom-content-h {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-content button {
  background-color: rgb(0, 98, 255);
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* ---------------------------------------------- */
/* Histories */
/* ---------------------------------------------- */

#histories-page {
  margin: 100px 50px;
}

.delete-btn {
  background-color: rgba(255, 0, 0, 0.512);
  padding: 2px 6px;
  border-radius: 8px;
}

/* ---------------------------------------------- */
/* Products Page */
/* ---------------------------------------------- */

#products-page {
  margin: 100px 50px;
}

#products-page input,
#products-page select {
  background-color: #fffde691;
  color: #000;
  backdrop-filter: blur(4px);
}

#select-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20%;
}

.admin-products-container {
  margin-top: 20px;
  gap: 15px;
}

.product-actions {
  background-color: #f1efef41;
  padding-bottom: 20px;
}

.product-actions button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upt-img {
  background-color: #ffc107;
  color: #000;
  width: fit-content;
  padding: 4px 6px;
  border-radius: 4px;
}

#add-product-form div {
  padding-top: 10px;
}

/* ---------------------------------------------- */
/* Users Page */
/* ---------------------------------------------- */

#users-page {
  margin: 100px 50px;
}

.main-admin {
  color: #fff;
  background-color: rgb(7, 174, 74);
  padding: 4px 6px;
  border-radius: 6px;
}

.admin {
  color: #fff;
  background-color: rgb(0, 132, 255);
  padding: 4px 6px;
  border-radius: 6px;
}

.user {
  color: #fff;
  background-color: rgb(255, 162, 0);
  padding: 4px 6px;
  border-radius: 6px;
}

.user-delete {
  color: #fff;
  background-color: red;
  padding: 2px 4px;
  border-radius: 6px;
  margin-left: 10px;
}

/* ---------------------------------------------- */
/* Responsive Layout */
/* ---------------------------------------------- */

@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(3, minmax(0em, 1fr));
  }
  #users-page {
    margin-inline: 15px;
  }
  #products-page {
    margin-inline: 14px;
  }
  #products-page select {
    width: 50%;
  }
  .admin-products-container {
    margin-inline: 0px;
    gap: 10px;
  }
  #admin-categories-page {
    margin-inline: 15px;
  }
  #admin-orders-page {
    margin-inline: 20px;
  }
  #histories-page {
    margin-inline: 20px;
  }
  .nav-wrapper {
    padding-inline: 20px;
  }
  #dashboard-page {
    margin-inline: 20px;
  }
  .main-content {
    margin: 20px;
    padding: 10px;
  }
}

@media (max-width: 570px) {
  .products-container {
    grid-template-columns: repeat(2, minmax(0em, 1fr));
  }
}

#cart-page {
  margin: 100px 20px;
}

/* ---------------------------------------------- */
/* Receipt and Filters */
/* ---------------------------------------------- */

.filtered-orders input {
  padding: 5px 8px;
  background-color: #fff8e7;
}

.receipt-box {
  background-color: #e7e7e752;
  backdrop-filter: blur(15px);
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* ---------------------------------------------- */
/* User Auth Pages */
/* ---------------------------------------------- */

#user-auth > div {
  background-color: #fdf8f05a;
  backdrop-filter: blur(10px);
  color: #000;
}

#user-auth h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

#user-auth label {
  display: block;
  margin-bottom: 8px;
  color: #000;
}

#user-auth input {
  color: #000;
  background-color: #fdf8f0b3;
}

#user-auth a {
  color: #000;
}

/* ---------------------------------------------- */
/* Update Popup */
/* ---------------------------------------------- */

#update-popup {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.251);
  backdrop-filter: blur(10px);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#update-popup > div {
  height: 30%;
  width: 80%;
  background-color: #e4e4e49e;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 20px;
}

#update-popup h1 {
  font-weight: 800;
}

#update-popup p {
  padding: 0 20px;
  font-weight: 500;
}

#update-popup button {
  font-weight: 500;
  background-color: #ffa551;
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 10px;
}

/* ===============  */

.notification-button {
  background-color: rgb(2, 255, 2);
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
}

/* =================================== */

#location-error {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.251);
  backdrop-filter: blur(10px);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

#location-error > div {
  height: 30%;
  width: 80%;
  background-color: #e4e4e49e;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#location-error button {
  background-color: #6df455;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* =================================== */

#tutorial {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.251);
  backdrop-filter: blur(10px);
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tutorial img {
  width: 80%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ======================= */

#location-error-message h2 {
  font-size: 26px;
  font-weight: 700;
}

#location-error-message h6 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}
