/* ---------------------------------------------- */
/* Dashboard */
/* ---------------------------------------------- */

#dashboard-page {
  margin: 100px 50px;
}

.dashboard-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard-links li {
  margin: 15px 0;
}

.dashboard-links a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background-color: #fffefe8f;
  font-weight: 600;
}

.dashboard-links a:hover,
.dashboard-links a.active {
  background-color: #969ba1;
  color: #ecf0f1;
}

.main-content {
  padding: clamp(20px, 5vw, 25px);
  background-color: #86868646;
  backdrop-filter: blur(10px);
  display: inline-block;
  margin: 40px;
  border-radius: 10px;
}

.main-content h1 {
  font-size: clamp(15px, 5vw, 25px);
  margin-bottom: 50px;
}

/* ---------------------------------------------- */
/* Admin Categories */
/* ---------------------------------------------- */

#admin-categories-page {
  margin: 100px 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #9d9d9d37;
  backdrop-filter: blur(20px);
  color: #000000;
}

form input::placeholder {
  color: #0000006e;
}

form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* Table Styles */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff5ed6d;
  backdrop-filter: blur(10px);
}

thead {
  background-color: #007bff;
  color: #fff;
}

thead th {
  padding: 10px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 10px;
}

.actions button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions .update {
  background-color: #ffc107;
  color: #fff;
}

.actions .delete {
  background-color: #dc3545;
  color: #fff;
}

.actions button:hover {
  opacity: 0.8;
}

/* ---------------------------------------------- */
/* Admin Orders */
/* ---------------------------------------------- */

#admin-orders-page {
  margin: 100px 50px;
}

#orders-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.order-card {
  width: 400px;
  min-height: 200px;
  background-color: #e8e8e86b;
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 10px;
}

.order-card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card-body p {
  background-color: #7d7d7d4b;
  padding: 10px;
  border-radius: 5px;
}

.order-card-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-item {
  background-color: #84838358;
  padding: 10px;
  border-radius: 5px;
}

.bottom-content,
.bottom-content-h {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-content button {
  background-color: rgb(0, 98, 255);
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* ---------------------------------------------- */
/* Histories */
/* ---------------------------------------------- */

#histories-page {
  margin: 100px 50px;
}

.delete-btn {
  background-color: rgba(255, 0, 0, 0.512);
  padding: 2px 6px;
  border-radius: 8px;
}

/* ---------------------------------------------- */
/* Products Page */
/* ---------------------------------------------- */

#products-page {
  margin: 100px 50px;
}

#products-page input,
#products-page select {
  background-color: #fffde691;
  color: #000;
  backdrop-filter: blur(4px);
}

#select-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20%;
}

.admin-products-container {
  margin-top: 20px;
  gap: 15px;
}

.product-actions {
  background-color: #f1efef41;
  padding-bottom: 20px;
}

.product-actions button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upt-img {
  background-color: #ffc107;
  color: #000;
  width: fit-content;
  padding: 4px 6px;
  border-radius: 4px;
}

#add-product-form div {
  padding-top: 10px;
}

#product-sn {
  position: absolute;
  top: 60%;
  left: 8px;
}

/* ---------------------------------------------- */
/* Users Page */
/* ---------------------------------------------- */

#users-page {
  margin: 100px 50px;
}

.main-admin {
  color: #fff;
  background-color: rgb(7, 174, 74);
  padding: 4px 6px;
  border-radius: 6px;
}

.admin {
  color: #fff;
  background-color: rgb(0, 132, 255);
  padding: 4px 6px;
  border-radius: 6px;
}

.user {
  color: #fff;
  background-color: rgb(255, 162, 0);
  padding: 4px 6px;
  border-radius: 6px;
}

.user-delete {
  color: #fff;
  background-color: red;
  padding: 2px 4px;
  border-radius: 6px;
  margin-left: 10px;
}

/* ---------------------------------------------- */
/* Responsive Layout */
/* ---------------------------------------------- */

@media (max-width: 768px) {
  #users-page {
    margin-inline: 15px;
  }
  #products-page {
    margin-inline: 14px;
  }
  #products-page select {
    width: 50%;
  }
  .admin-products-container {
    margin-inline: 0px;
    gap: 10px;
  }
  #admin-categories-page {
    margin-inline: 15px;
  }
  #admin-orders-page {
    margin-inline: 20px;
  }
  #histories-page {
    margin-inline: 20px;
  }

  #dashboard-page {
    margin-inline: 20px;
  }
  .main-content {
    margin: 20px;
    padding: 10px;
  }
}

/* ---------------------------------------------- */
/* Receipt and Filters */
/* ---------------------------------------------- */

.filtered-orders input {
  padding: 5px 8px;
  background-color: #fff8e7;
}

.receipt-box {
  background-color: #e7e7e752;
  backdrop-filter: blur(15px);
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* ===============  */

.notification-button {
  background-color: rgb(2, 255, 2);
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}

/* ============================ */

#install-button {
  background-color: rgb(2, 255, 2);
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}
